.accordion {
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.548);
  border: none;
  color: white;
  transition: 0.4s;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.accordion:hover {
  box-shadow: 4px 4px rgb(7, 2, 255), 8px 8px rgb(7, 221, 0), 12px 12px rgb(255, 0, 0), 16px 16px 10px rgba(160, 82, 233, 0.603);
  cursor: pointer;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

    


}
