.collapse {
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  font-size: 1.5em;
  background: #0000008c;
  box-shadow: 1px 3px 5px rgba(0, 255, 255, 0.575);
  border: none;
  color: white;
  transition: 0.4s;
}
.collapse:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.collapse.active:after {
  content: "\2796";
}
.collapse:hover {
  box-shadow: 4px 4px rgb(7, 2, 255), 8px 8px rgb(7, 221, 0), 12px 12px rgb(255, 0, 0), 16px 16px 10px rgba(160, 82, 233, 0.603);
  cursor: pointer;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  body.hasHover .collapse:hover {
    box-shadow: none;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  body.hasHover .collapse:hover {
    box-shadow: none;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  body.hasHover .collapse:hover {
    box-shadow: none;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body.hasHover .collapse:hover {
    box-shadow: none;
  }
}

@media all and (max-width: 600px) {
  body.hasHover .collapse:hover {
    box-shadow: none;
  }
}
