.query {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.767);
  transition: box-shadow 0.3s ease-in-out;
  margin: auto;
  overflow-y: scroll;
  padding: 10px 20px;
}

.query::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;

}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .query {
    width: 80%;
    font-size: small;
  }
  .container {
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("./TNTs.gif");
    background-size: contain;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .query {
    width: 80%;
    font-size: small;
    background: rgba(0, 0, 0, 0.514);
  }
  .container {
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("./TNTs.gif");
    background-size: contain;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .query {
    width: 80%;
    font-size: small;
    background: rgba(0, 0, 0, 0.514);
  }
  .container {
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-image: url("./TNTs.gif");
    background-size: contain;
  }
}

@media all and (max-width: 600px) {
  .query {
    width: 80%;
    font-size: small;
  }
  .container {
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("./TNTs.gif");
    background-size: contain;
  }
}

@media all and (min-width: 600px) {
  .query {
    width: 55%;
    font-size: 0.7em;
    background: rgba(0, 0, 0, 0.514);
  }
  .container {
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("./TNTs.gif");
    background-size: contain;
  }
}

.subscript{
  font-size: x-small;
}
.container {
  min-height: 100vh;
}
