.query {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.548);
  width: 40%;
  font-size: 0.9em;
  margin: auto;
  padding: 15px 30px;
  transition: box-shadow 0.3s ease-in-out;
  overflow-y: scroll;
}

.query::-webkit-scrollbar {
  display: none;
}

.accordion:hover {
  box-shadow: 4px 4px rgb(7, 2, 255), 8px 8px rgb(7, 221, 0), 12px 12px rgb(255, 0, 0), 16px 16px 10px rgba(160, 82, 233, 0.603);
  cursor: pointer;
}

.container {
  height: 100%;
  background-image: url("./balance.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.accordion {
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.548);
  border: none;

  color: white;
  transition: 0.4s;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
